/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background-image.jpg');  
    background-size: cover;
    background-position: center;
    color: #fff; 
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.leave-info {
    margin-bottom: 10px;
} */
/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    line-height: 1.6;
    background: url('https://media.istockphoto.com/id/1158420724/vector/abstract-bokeh-lights-effect-with-purple-blue-background-bokeh-texture-bokeh-background.jpg?s=612x612&w=0&k=20&c=6H8-YZEUdsDxOgIaEarQ-S2TUfS8jxiGihIcPy92Q8s=') no-repeat center center/cover;
    background-size: cover;
    height: calc(90vh - 80px);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:lavender;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.leave-info {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.leave-info p {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .leave-info {
        padding: 15px;
    }
}
